*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    /* font-size: 62re; */
}
body{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
     display: flex;
    color: black;
    background-image: linear-gradient(to top left,#753682 0% ,#bf2e34 100%);
}
main{
    display: flex;
    position: relative;
    height: 90%;
    width: 70%;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(154, 148, 148);
    filter: blur();
    backdrop-filter: blur(200px);
    box-shadow: 0px 1px 15px 10px rgba(227, 215, 215, 0.33);
}
.player{
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 80px;
    align-items: center;
    transition: all 0.75s;
}
.name{
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 13px;
    font-size: 40px;
}
.score{
    color: #c7365f;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: auto;
}
.player-active{
  background-color: rgba(255, 255, 255, 0.4);
}
.player-active .name{
    font-weight: 700;
}
.player-active .score{
    font-weight: 400;
}
.player-active .current {
    opacity: 1;
}
.current{
    color: white;
    padding: 32px;
    background-color: #c7365f;
    transition: all 0.7s;
    border-radius: 10px;
    width: 65%;
    opacity: 0.8;
    text-align: center;
}
.current-lable{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 20px;
}
.current-score{
    font-size: 30px;
}
.btn{
    
    position: absolute;
    left: 50%;
    transition: all 0.75s;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background: none;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.2s;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding:5px 25px;
    box-shadow: 0 16px 20px rgba(227, 215, 215, 0.33);
}

.btn--new{
    top: 30px;
}
.btn--roll{
    top: 370px;
}
.btn--hold{
    top: 440px;
}
.btn:active{
    transform: translate(-50%,3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
  outline: none;
}
.dice{
position: absolute;
left: 50%;
height: 20%;
transform: translateX(-50%);
top: 30%;

}
.player--winner{
    background-color: black;
    font-weight: 700;
}
.hidden{
    display: none;
}